{% extends "template_supervisor.html" %}

{% block title %}Eliminar Cluster - Mapas en Django{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Eliminar Cluster</h2>
        <p>¿Estás seguro de que deseas eliminar el cluster "{{ cluster.name }}"?</p>
        <form method="post" action="{% url 'map:delete_cluster_supervisor' cluster.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'map:clusters_supervisor' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock %}